
.offers_container {
    width: 85%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 250px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    margin-top: 8em;
    padding-top: 5em;
}

.offers_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers_left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers_left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers_left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    border: none;
    font-size: medium;
    font-weight: 600;
    margin-top: 30px;
    padding: 1.2em;
    box-shadow: 1px 1px 3px #00000083;
}

.offers_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

@media (max-width: 1280px) {
    .offers_container {
        padding: 0px 80px;
        margin-bottom: 120px;
    }

    .offers_left h1 {
        font-size: 40px;
    }

    .offers_left p {
        font-size: 18px;
    }

    .offers_left button {
        width: 220px;
        height: 50px;
        align-items: center;
        padding: 0%;
        font-size: 18px;
    }

    .offers_right {
        padding-top: 30px;
    }

    .offers_right img {
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .offers_container {
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }

    .offers_left h1 {
        font-size: 30px;
    }

    .offers_left p {
        font-size: 16px;
    }

    .offers_left button {
        width: 160px;
        height: 40px;
        font-size: 16px;
    }

    .offers_right {
        padding-top: 10px;
    }

    .offers_right img {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .offers_container {
        margin-bottom: 60px;
    }

    .offers_left h1 {
        font-size: 22px;
    }

    .offers_left p {
        font-size: 13px;
    }

    .offers_left button {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }

    .offers_right img {
        width: 180px;
    }
}

@media (max-width: 500px) {
    .offers_container {
        height: 25vh;
        margin-bottom: 50px;
    }

    .offers_left h1 {
        font-size: 16px;
    }

    .offers_left p {
        font-size: 10px;
    }

    .offers_left button {
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }

    .offers_right img {
        width: 120px;
    }
}
