
.product_display_container {
    display: flex;
    margin: 0px 85px;
}

.product_display_left {
    display: flex;
    gap: 17px;
}

.product_display_img_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product_display_img_list img {
    height: 128.4px;
}

.product_display_main_img {
    width: 469px;
    height: 562px;
    margin-left: 1em;
}

.product_display_right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.product_display_right h1 {
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}

.product_display_right_stars {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.product_display_right_prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.product_display_right_price_old {
    color: #818181;
    text-decoration: line-through;
}

.product_display_right_price_new {
    color: #ff4141;
}

.product_display_right_size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.product_display_right_sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.product_display_right_sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.product_display_right button {
    padding: 15px;
    width: 100%;
    background: #222;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .5em;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);
}

.product_display_right_category {
    margin-top: .4em;
}

.product_display_right_category span {
    font-weight: 600;
    margin-right: .2em;
}

@media (max-width: 1280px) {
    .product_display_container {
        margin: 0px 60px;
    }

    .product_display_left {
        gap: 10px;
    }

    .product_display_img_list {
        gap: 10px;
    }

    .product_display_img_list img {
        height: 120px;
    }

    .product_display_main_img {
        width: auto;
        height: 510px;
    }

    .product_display_right {
        margin: 0px 30px;
    }

    .product_display_right h1 {
        font-size: 22px;
    }

    .product_display_right_stars {
        gap: 3px;
        font-size: 13px;
    }

    .product_display_right_prices {
        margin: 10px 0px;
        font-size: 18px;
    }

    .product_display_right_description {
        font-size: 13px;
    }

    .product_display_right_size h1 {
        margin-top: 20px;
        font-size: 20px;
    }

    .product_display_right_sizes div {
        padding: 14px 20px;
    }

    .product_display_right button {
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }

    .product_display_right_category {
        margin-top: 5px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .product_display_container {
        margin: 0px 30px;
    }

    .product_display_left {
        gap: 5px;
    }

    .product_display_img_list img {
        height: 80px;
    }

    .product_display_main_img {
        height: 350px;
    }

    .product_display_right h1 {
        font-size: 18px;
    }

    .product_display_right_stars img {
        width: 15px;
    }

    .product_display_right_description {
        font-size: 12px;
    }

    .product_display_right_sizes {
        margin-top: 10px 0px;
    }

    .product_display_right_sizes div {
        padding: 10px 16px;
        font-size: 12px;
    }

    .product_display_right button {
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .product_display_right_category {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .product_display_container {
        margin: 0px 10px;
    }

    .product_display_left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .product_display_img_list {
        flex-direction: row;
        gap: 6px;
    }

    .product_display_img_list img {
        height: 70px;
    }

    .product_display_main_img {
        height: 300px;
    }

    .product_display_right h1 {
        font-size: 14px;
    }

    .product_display_right_stars img {
        width: 13px;
    }

    .product_display_right_description {
        font-size: 10px;
    }

    .product_display_right_size h1 {
        margin-top: 10px;
    }

    .product_display_right_sizes {
        margin-top: 10px;
        gap: 5px;
    }

    .product_display_right_sizes div {
        padding: 4px 11px;
    }

    .product_display_right button {
        width: 100px;
        font-size: 12px;
    }

    .product_display_right_category {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .product_display_container {
        flex-direction: column;
    }

    .product_display_left {
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }

    .product_display_img_list {
        flex-direction: column;
        gap: 8px;
    }

    .product_display_img_list img {
        height: 75px;
    }

    .product_display_main_img {
        height: 330px;
    }

    .product_display_right {
        margin: 5px;
    }

    .product_display_right h1 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    .product_display_right_stars img {
        width: 15px;
    }

    .product_display_right_sizes {
        gap: 10px;
        margin: 20px 0px;
    }

    .product_display_right_sizes div {
        padding: 10px 16px;
        font-size: 14px;
    }

    .product_display_right button {
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }

    .product_display_right_category {
        font-size: 16px;
    }
}
